/com/
/demo.properties
/demo2.properties
/hn95z.properties
/hn95z_login.properties
/hn95z_send.properties
/huangjd.properties
/hwand_register_get.properties
/hwand_register_send.properties
/jianshuncf.properties
/log4j.properties
/myres.properties
/myres_en_US.properties
/myres_zh_CN.properties
/mzcf88.properties
/p2p_token.properties
/test.properties
/test.txt
/vpfinance.properties
/xinyitianxia.properties
