
.content .content-container{width: 990px;margin: 0 auto; padding-top:10px; color:#333;}
.content .title{ font-size:16px; line-height:30px;height:30px;}
.content .conter_text{ line-height:30px;}
.content .conter_text a,.content .conter_text span{ padding:0 10px; color:#317ee7;}
.content .tab_nav{border-bottom:1px solid #a3c5e7;color:#555;width:auto;_overflow:hidden; margin:20px 0px;padding-top:34px;}
.content .tab_nav .text_line{text-decoration:underline;}
.content .tab_nav ul{float:left;margin-top:-39px;position:relative;}
.content .tab_nav ul li{float:left;border:1px solid #a3c5e7;border-bottom:none;margin-right:-1px;background-color:#f6fcfd;font-size:14px;cursor:pointer;height:38px;line-height:38px;position:relative;}
.content .tab_nav ul li a{display:block;outline:none;color:#0692e1;padding:0;padding:0px 15px;text-align:center;}
 a{color:#2476E0;}a:hover{color:#f60;}
.content .tab_nav ul li.active{font-weight:bold;background-color:#fff;border:1px solid #0692e1;border-top:2px solid #0692e1;border-bottom:1px solid #fff;margin-right:0;margin-bottom:-1px;margin-top:-1px; }
.content .tab_nav ul li.active a,.tab_nav ul li.active a:hover{color:#666;}


.steps_d{width:926px;height:32px;background:url(http://cdn-resource.12308.com/usercenter/css/img/steps3.png) no-repeat 0 0px; margin:50px auto 2px;}
.steps_d_1{background-position:0 0}
.steps_d_2{background-position:0 -35px}
.steps_d_3{background-position:0 -69px}
.steps_d_4{background-position:0 -103px}
.steps_u{width:990px;}
.steps_u li{float:left;width:290px;height:37px;line-height:37px;font-size:14px;color:#bbbbbb;}
.steps_u .active{color:#0692e1;}
.steps_u .step1{}
.steps_u .step2{ text-indent:30px;}
.steps_u .step3{text-indent:30px;}
.steps_u .step4{ width:88px;text-align:right;}
.steps_d_1 .step1,.steps_d_2 .step1,.steps_d_2 .step2,.steps_d_3 .step1,.steps_d_3 .step2,.steps_d_3 .step3
,.steps_d_4 .step1,.steps_d_4 .step2,.steps_d_4 .step3,.steps_d_3 .step4{color:#0692e1;}

/*找回密码*/
.content .pub-form{ padding-left:180px; padding-top:50px;padding-bottom:100px;}
.content .h28{ height:30px; line-height:30px;}
.content .pub-form .fm-item .fm-label,.content .pub-form .fm-li .fm-label{height:30px; line-height:30px;}
.content .pub-form .i-input:focus{border:1px solid #317ee7;box-shadow:1px 2px 3px #ddeffc inset;}



.ptt50{padding-top:50px;padding-bottom:50px;}
.prompt{font-size:18px; text-align:center;}
.prompt_b{display:inline-block; text-align:center;width:480px; margin:0 auto;}
.prompt.ok{ color:#3ba922;}
.prompt.ok i{ width:32px; height:32px; display:inline-block;float: left; margin:0 8px;background:url(img/ico.png) no-repeat -27px -200px; }
.prompt.ok span{ line-height:32px;display:inline-block; float: left}


.noborder{ border:none;}
.m_pagecontainer {width:100%;background:url(img/bg05.png) repeat-x center 0;color: #323232;}
.m_pagewrap{width: 990px;margin: 0px auto; margin-top:-8px;}
.m_page{padding:30px 0;}
.m_box {padding: 40px 40px 60px 40px;background:#fff;height:260px;}
.m_box .boxHd {height: 33px;overflow: hidden;margin-bottom: 24px;border-bottom: 1px dotted #c8c8c8;font-size: 20px;font-weight: normal;}
.m_box .boxBd{padding: 20px 0 0 200px;}
.u-btn2,.u-btn2:hover,.u-btn2:active{color:#FFF}
.u-btn2{display:block;width:390px;height:50px;line-height:50px;border:0;overflow:hidden;text-align:center;background:#69b3f2;
font-size:26px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.u-btn2:hover{background:#7cbdf5}
.u-btn2:active{background:#59a4e4}
.input_div { padding:20px 0;}
.input_div input{ height:25px; line-height:25px; vertical-align:middle; padding:8px 10px; border:1px solid #c2c2c2;
 border-color:#c2c2c2 #d3d3d3 #e6e6e6 #d3d3d3; width:366px; font-size:18px; color:#323232;}

.input_div input:focus{border:1px solid #96D1FF;box-shadow:0 0 2px rgba(109,209,255,.5);
